<div id="mySidenav" class="sidenav">
  <div class="container">
    <a href="/notes">
      <h1 style="text-align:center;color: #23CE6B;"><u>Notes App</u></h1>
    </a>
    <br>
    <a href="#">Notes</a>
    <a href="#">Profile</a>
    <a href="#">Services</a>
    <a href="#">Plans</a>
    <a href="#">Contact</a>
  </div>

</div>
