<div class="sidenav animated fadeInLeft">
  <div class="container">
    <a href="/notes">
      <h1 style="text-align:center;color: #23CE6B;"><u>Notes App</u></h1>
    </a>
    <br>
    <a href="/notes">Notes</a>
    <a href="/profile">Profile</a>
    <a href="/services">Services</a>
    <a href="/plans">Plans</a>
    <a href="/contact">Contact</a>
  </div>

</div>
