{{>sidenav}}
<div class="container">
  <div class="row" style="margin-top:10%">
    <h1>Contact</h1>
  </div>
  <div class="row">
    <p>Hello, my name is Fabio Hernandez. I am an aspiring web developer and this is one of my many projects that I wish to show off in my portfolio</p>
  </div>
  <div class="row">
    <p>You can view my other projects in my <a href="https://github.com/fahio12">github page</a></p>
    <p>You can view my other projects in my <a href="https://github.com/fahio12">github page</a></p>

  </div>
</div>
<script type="text/javascript">
  $("#nav-notes").removeClass("active");
  $("#nav-plans").removeClass("active");
  $("#nav-help").removeClass("active");
  $("#nav-contact").addClass("active");
</script>
