{{>sidenav}}
<div class="container"><div class="row">
  <div class="col-6" style=" left:20%;">
  <div class="card" style="width: 18rem;margin-top:0%;top:30%">
  <img class="card-img-top" src="/img/25Plan.jpg" alt="Plan picture">
  <div class="card-body">
    <h5 class="card-title">Individual</h5>
    <ul>
      <li>Notes Limit: <b>50</b></li>
      <li>Customer Support</li>
      <li>Email Reminder</li>
      <li>Text Reminder</li>
    </ul>
    <a href="#" class="btn btn-success">Select</a>
  </div>
</div>
</div>
<div class="col-6"style=" left:20%;">
<div class="card" style="width: 18rem;margin-top:0%;top:30%">
<img class="card-img-top" src="/img/50Plan.jpg" alt="Plan picture">
<div class="card-body">
  <h5 class="card-title">Professional</h5>
  <ul>
    <li>Notes Limit: <b>200</b></li>
    <li>Customer Support: <b>24/7</b></li>
    <li>Email Reminder</li>
    <li>Text Reminder</li>
  </ul>
  <a href="#" class="btn btn-success">Select</a>
</div>
</div>
</div>
</div>

</div>


<script type="text/javascript">
$("#nav-notes").removeClass("active");
$("#nav-plans").addClass("active");
$("#nav-help").removeClass("active");
$("#nav-contact").removeClass("active");
</script>
