.centered {
 position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 font-family: 'Roboto', sans-serif;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 300px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #272D2D; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #B8C5D6;
  display: block;
  transition: 0.3s;
  font-family: 'Roboto', sans-serif;
  
}
.sidenav .active{
  color:#272D2D;
  background-color:#23CE6B;
}
.sidenav .active:hover{
  color:Black;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #A39BA8;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
body{
  background-color: #EDF5FC;
}
