{{>sidenav}}

<div class="container" style="margin-left:350px;margin-top:25px">
  <h1 style="color:#272d2d">Notes</h1>
  <div class="row" style="height:320">
    <div class="col-4">
      <div class="card" style=" margin-top: 25px;height:100%;width: 100%;max-height: 320px">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Time: </li>
          <li class="list-group-item">Date: </li>
          <li class="list-group-item">Location: </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">View Description</a>
          <a href="#" class="card-link text-danger">Delete</a>
        </div>
      </div>
    </div>

  </div>
</div>
